*{  
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    font-family:"PT Sans", "Noto Sans Khudawadi" "Montserrat",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{ /*VARIÁVEIS GLOBAIS*/
    --font: "Montserrat",sans-serif;
    --fontP: "Poppins";
    --cor1: #8a8a8a;
    --cor2: #fff;
    --cor3: #000000;
    --cor_text : #000000d2;
    --cor5:#A1A09A;
    --left: 800px;
    --bottom: 800px;
    --cor7: #5bb299!important;
    --topHeaderCel: 5px;
}

html { /*CONFIGURAÇÕES GLOBAIS*/
  scroll-behavior: smooth;
  overflow-x: hidden;
  font: var(--font);
}

body { /*CONFIGURAÇÕES GLOBAIS*/
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  font-family: var(--font);
}

/*CABEÇALHO*/

header{
    display: flex;
    background-color: var(--cor1);
    text-align: center;
    align-items: center;
    z-index: 1000;
    position: fixed; 
    min-width: 100vw;
    gap: 1rem;
    height: 16.2vh;
}

.logo h1{ /*LOGO E NOME LOJA*/
    min-width: 60px;
    width: 15%;
    position: relative;
    left: 2.5rem;
    top: .5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1002;
    width: 17rem;
    display: inline-block;
    color: var(--cor2);
    font-weight: 400;
    font-style: normal;
    font-size: 2.7rem;
}

.logo p{
  position: fixed;
  font-size: 30px;
  left: 4.2rem;
  color: #fff;
  top: .8rem;
  font-style: italic;
  font-weight: 100;
  display: none;
}

/*TRES TRAÇOS E LISTA*/

.navbar { /*MENU DE NAVEGAÇÃO*/
    width: 100%;
    color: var(--cor2);
    text-decoration: none;
    display: flex;
    position: fixed;
    top: 5.6rem;
    background-color: var(--cor3);
    z-index: 990;
}

.navbar ul{ /*LISTA MENU NAVEGAÇÃO*/
    padding:  0;
    margin: 0;
    list-style: none;
    display: inline-block;
    width: 65%;
    text-align: left;
}

.navbar .otherOption { /*OPÇÕES Entrar/inscrever-se*/
    width: 35%;
    text-align: center;
    position: absolute;
    bottom: 3.4rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .otherOption li{
  padding: 12px;
  font-family: var(--font);
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.navbar .menu{ 
    width: 100%;
    text-align: center;
}

.navbar a{ /*LINKS MENU NAVEGAÇÃO*/
    color: var(--cor2);
    text-decoration: none;
}

.navbar li{ 
    padding: 10px 56px;
    display: inline-block;
    transition: .5s;
    position: relative;
}

.navbar li:hover{
    background-color: var(--cor7);
    cursor: pointer;
}

.navbar .menu li ul { /*SUBMENU*/
    position: absolute;
    top: 100%;
    left: 0;
    width: 246.8px;
    margin: 0;
    padding: 0;
    background-color: var(--cor1);
    text-align: left;
    display: none;
}

.navbar li:hover > ul { /*MOSTRAR SUBMENU*/
    display: block;
}

.navbar .menu ul li{ /*ITENS SUBMENU*/
    width: 100%;
    text-align: left;
    display: block;
}

.navbar input{ /*ESCONDER INPUT ABrir Submenu*/
      display: none;
    }

    .navbar .otherOption ion-icon{ /*ESCONDER ICONES*/
      display: none;
    }

/*BARRA PESQUISA*/

label{
    display: none;
}

.search-box{ /*CAIXA PESQUISA*/
    position: fixed;
    top: 5%;
    left: 50%;
    background: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    z-index: 1005;
    transition: all .35s ease;
    transform: translate(-50%);
    padding: 8px 19px 8px 16px;  
    gap: 38px;
}

form .search{ /*BOTÃO PESQUISA*/
  display: flex;
  border-radius: 100%;
  border: none;
  max-width: 29px;
  background-color: var(--cor2);
  color: var(--cor3);
  padding: 1px;
  cursor: pointer;
}

#search{ /*CAMPO PESQUISA*/
    background-color: #fff;
    width: 100%;
    font-size: 17px;
    padding: 7px 0 5px 0px;  
    outline: none;
    border-radius: 5px 5px;
}

.search-txt{ /* TEXTO CAMPO PESQUISA*/
  position: relative;
  border: none;
  background: none;
  outline:none;
  float: none;
  color: #0000009f;
  font-size: 20px;
  transition: 0.3s;
  text-align: left;
}

/*LISTA PESQUISA*/

.li.active{ /* QUANDO MOSTRAR LISTA PESQUISA*/
    transform: translate(1.3%, 21.5%);
    z-index: 1005;
    position: fixed;
    min-width: 40%;
}

@keyframes itemLinkFade { /*ANIMAÇÃO ITENS LISTA PESQUISA*/
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.li a:hover{ 
    opacity: 0.9;
    border: .5px solid #0000003b;
    transition: .3s;
}

.li a{ /*LINKS ITENS LISTA PESQUISA*/
    list-style: none;
    display: flex;
    padding: 1.5px 0 0 3px;
    border-radius: 10px;
    width: 100%;
    background-color:#B0B0AE;
    border: .5px solid transparent;
    height: 85px;
    align-items: center;
    justify-content: flex-start;
    transition: .3s;
    text-decoration: none;
    font-weight: 100;
    color: #000000;
}


.li { /*LISTA PESQUISA*/
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 97%;
  height: 70%;
  background-color: var(--cor2);
  border: 2px solid rgba(0, 0, 0, 0.507);
  border-top: none;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x:hidden ;
  transform: translate(0%, -100%);
  transition: 0.3s;
  padding: 0px 10px 0px 10px;
  z-index: 1004;
}

.li li {
  list-style: none;
  margin-top: 12px;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  animation: itemLinkFade 0.5s ease forwards;
  opacity: 0;
  border-radius: 10px;
}

.img-produto-li img { /*IMAGEM ITENS LISTA PESQUISA*/
  width: 90px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.item-content { /*CONTEÚDO ITENS LISTA PESQUISA*/
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: .8rem;
  text-decoration: none;
}

.titulo-produto-li { /*TÍTULO ITENS LISTA PESQUISA*/
  margin-left: .5rem;
  margin-top: .30rem !important;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1429em;
  text-align: left;
  color: #000000ef;
  opacity: .8;
}

.pç-produto { /*PREÇO ITENS LISTA PESQUISA*/
  margin-left: .5rem;
  font-size: 15px;
  font-weight: 600;
  color: var(--cor3);
  line-height: 2;
}

#no_results { /*MENSAGEM NENHUM RESULTADO*/
  text-align: center;
  margin-top: 9rem;
  font-size: 1.5rem;
  display: none;
}


/*Carrinho de Compras Finalizar*/

.cartTab{ /*ABA CARRINHO DE COMPRAS*/
  max-width: 99vw;
  width: 435px;
  background-color: var(--cor2);
  box-shadow: .5px .5px 7px rgba(0, 0, 0, 0.808);
  border: 0 1.5px  solid rgba(0, 0, 0, 0.712);
  color: var(--cor2);
  border-radius: 2px 2px;
  position: fixed;
  inset: 0 -450px 0 auto;
  display: grid;
  grid-template-rows: 70px 1fr 70px ;
  transition: .5s;
  z-index: 1010;
}

body.showCart .cartTab{  /*MOSTRAR ABA CARRINHO DE COMPRAS*/
  inset: 0 0 0 auto;
}

body.showCart head{ /*DESFOCAR FUNDO QUANDO MOSTRAR CARRINHO*/
  opacity: .2;
}

.cartTab .listCart{ /*LISTA ITENS CARRINHO DE COMPRAS*/
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 3.5rem;
  left: 0;
  right: 0;
  min-width: 90%;
  max-height: 100%;
  height: 385px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x:hidden ;
  padding: .6rem;
  z-index: 1003;
}

.cartTab h1 { /*TÍTULO ABA CARRINHO DE COMPRAS*/
  padding: 7.7px 20px 20px 1rem;
  margin: 0;
  color: var(--cor3);
  text-align: left;
  font-weight: 600;
  font-size: 1.1rem;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
}

.cartTab .btn_cart button{ /*BOTÕES CARRINHO DE COMPRAS*/
  background-color: #4caf50;
  border: 1px solid transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  transition: .3s;
}

.cartTab .btn_cart .checkOut { /*BOTÃO FINALIZAR COMPRA*/
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 96%;
  height: 3rem;
  position: relative;
  border-radius: 5px;
  left: .7rem;
  top: 25rem;
  color: var(--cor2);
}


.cartTab .btn_cart .close{ /*BOTÃO FECHAR CARRINHO DE COMPRAS*/
  background-color: var(--cor2);
  position: absolute;
  top: .9rem;
  right: .1rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--cor3);
}

.cartTab .listCart .it img{ /*IMAGEM ITENS CARRINHO DE COMPRAS*/
  width: 100%;
  height: 80px;
  margin-top: .2rem;
  margin-left: .5rem;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.cartTab .listCart .it{ /*ITENS CARRINHO DE COMPRAS*/
  display: grid;
  grid-template-columns: 70px 190px 10px 1fr;
  align-items: center;
  justify-content: center;
  padding: .3rem;
  border: 1px solid #2222221c;
  box-shadow: .5px .5px 3px #2222221c;
  border-radius: 5px;
  margin-bottom: .6rem;
  min-width: 365px;
  height: 100px;
}

.listCart .name_cart{ /*NOME ITENS CARRINHO DE COMPRAS*/
  font-size: .9rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  position: relative;
  bottom: 1.8rem;
  left: 1rem;
  color: #000000d2;
}

.listCart .name_cart:hover{ 
  transition: .3s;
  color: #00000077;
}

.listCart .totalPrice{ /*PREÇO ITENS CARRINHO DE COMPRAS*/
  font-size: 1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #000000d0;
  position: relative;
  left: 1.2rem;
  top: .7rem;
}

.listCart .quantity{ /*QUANTIDADE ITENS CARRINHO DE COMPRAS*/
  border: 1px solid #2222221c;
  width: 95px;
  position: relative;
  right: 11.4rem;
  top: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 3px 7px;
  border-radius: 5px;
}

.listCart .quantity span{ /*BOTÕES + E - QUANTIDADE ITENS CARRINHO DE COMPRAS*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25px;
  height: 20px;
  color: #000000d2;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 400;
  position: relative;
  left: 3px;
}

.listCart .quantity:hover{
  border: #000000 solid 1px;
  transition: .5s;
}

.listCart .quantity span:nth-child(2) { 
  /*NÚMERO NA QUANTIDADE ITENS CARRINHO DE COMPRAS*/
  background-color: transparent;
  color: #000000d2;
  border: transparent;
  font-size: .9rem;
  font-weight: 600;
  position: relative;
  cursor: auto;
  bottom: 1px;
}


.listCart .quantity .mais{ /*BOTÃO + QUANTIDADE ITENS CARRINHO DE COMPRAS*/
  background-color: transparent;
  color: #22222294;
  border-radius: 0%;
  position: relative;
  padding: 15px 1px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}
.listCart .quantity .menos{ /*BOTÃO - QUANTIDADE ITENS CARRINHO DE COMPRAS*/
  background-color: transparent;
  color: #22222294;
  border-radius: 0%;
  position: relative;
  padding: 15px 1px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.listCart{ /* BARRA DE ROLAGEM NA LISTA DE ITENS CARRINHO DE COMPRAS*/
  overflow: auto;
} 

.listCart::-webkit-scrollbar{ /*DESAPARECER COM A BARRA DE ROLAGEM NO CARRINHO*/
  width: 0;
}

/*ÍCONE CARRINHO*/

.icon-cart{ /*ÍCONE CARRINHO FIXO*/
  position: fixed;
  right: 1.5rem;
  top: 3,1%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--cor2);
  cursor: pointer;
  z-index: 1004;
}

.icon-cart span { /*NÚMERO ITENS NO CARRINHO*/
  display: flex;
  width: 19px;
  height: 19px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  content: attr(data-product-count);
  position: absolute;
  bottom: 1.5rem;
  left: 1.2rem;
  color: var(--cor2);
  background-color: #4caf50;
  font-family: sans-serif;
  font-size: .7rem;
  line-height: 17.5px;
  font-weight: 700;
}

/*SLIDE*/


.slider{ 
  margin: 0;
  margin: 6.8rem auto 0 auto;
  min-width: 100%;
  height: 500px;
  overflow: hidden;
}

.slides{ /*CONTEÚDO SLIDE*/
  max-width: 100%;
  height: 100%;
  display: flex;
  width: 400%;
  transition: 0.6s;
}

.slides input { /*ESCONDER RADIOS*/
  display: none;
}

.slide { /*POSIÇÃO IMAGENS SLIDE*/
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

.slide img { /*IMAGENS SLIDE*/
  width: 100%;
  height: 465px;
  object-fit: cover;
  object-position: center;
}

.manual-navigation { /*NAVEGAÇÃO MANUAL SLIDE*/
  width: 100%;
  margin-top:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.manual-btn { /*BOTÕES NAVEGAÇÃO MANUAL SLIDE*/
  border: 1px solid var(--cor3) ;
  padding: 2.5px;
  cursor: pointer;
  border-radius: 100%;
  transition: 1s;
  display: block;
}

.manual-btn:not(:last-child) { /*ESPAÇAMENTO BOTÕES NAVEGAÇÃO MANUAL SLIDE*/
  margin-right: 20px;
}

.manual-btn:hover{ /*MUDAR COR BOTÕES NAVEGAÇÃO MANUAL SLIDE*/
  opacity: .8;
  background-color: #000000;
}

/*CONTROLAR SLIDE COM RADIO BUTTONS*/ /*ANIMAÇÃO SLIDE*/
#radio1:checked ~ .first { 
  margin-left: -0%;
}

#radio2:checked ~ .first { 
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

#radio4:checked ~ .first {
  margin-left: -300%;
}

.navigation-auto div {  /*BOTÕES NAVEGAÇÃO AUTOMÁTICA SLIDE*/
  border: 1px solid rgb(0, 0, 0);
  padding: 15px;
  border-radius: 1px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto { /*POSIÇÃO BOTÕES NAVEGAÇÃO AUTOMÁTICA SLIDE*/
  width: 100%;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) { 
  /*ESPAÇAMENTO BOTÕES NAVEGAÇÃO AUTOMÁTICA SLIDE*/
  margin-right: 40px;
}

#radio1:checked { /*MUDAR COR BOTÃO NAVEGAÇÃO AUTOMÁTICA SLIDE*/
  background-color: var(--cor3);
}

#radio2:checked ~ .auto-btn2 { /*MUDAR COR BOTÃO 2 NAVEGAÇÃO AUTOMÁTICA SLIDE*/
  background-color: var(--cor3);
}

#radio3:checked ~ .navigation-auto .auto-btn3 { 
  /*MUDAR COR BOTÃO 3 NAVEGAÇÃO AUTOMÁTICA SLIDE*/
  background-color: var(--cor3);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  /*MUDAR COR BOTÃO 4 NAVEGAÇÃO AUTOMÁTICA SLIDE*/
  background-color: var(--cor3);
}


/*PRODUTOS*/

.listProduct{ /*LISTA DE PRODUTOS*/
  margin-top: 2rem;
}

.item_c { /*CADA ITEM DA LISTA DE PRODUTOS*/
  background-color: white;
  border-radius: 2px;
  box-shadow: .1px .1px 9px rgba(0, 0, 0, 0.267);
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 170px;
  height: 350px;
  margin-left: 1.1rem;
  margin-top: 2rem;  
  font-weight: 500;
  font-style: normal;
  position: relative;
}

.item_c a{ /*LINKS NA LISTA DE PRODUTOS*/
  text-decoration: none;
}

.item_c img{ /*IMAGEM CADA ITEM DA LISTA DE PRODUTOS*/
  width: 100%;
  height: 59%;
  object-fit: cover;
  border-radius: 3px 3px 0 0; 
}

.item_c h2 { /*TÍTULO CADA ITEM DA LISTA DE PRODUTOS*/
  opacity: .8;
  margin-left: .4rem;
  margin-bottom: 1rem !important;
  margin-top: .25rem !important;
  font-size: 15.2px;
  font-weight: 500;
  line-height: 1.1429em;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-align: left;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.829);
  padding-right: .67px;
}

.item_c h2:hover{
  text-decoration: underline;
  opacity: .7;
}

.price { /*PREÇO PRODUTO*/
  font-family: var(--font, sans-serif);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--cor3);
  margin: 1px 0 1px .6rem;
  text-align: left;
}

.addCart { /*BOTÃO ADICIONAR AO CARRINHO*/
  background-color: #4caf50;
  border: none;
  margin-top: 1rem !important;
  color: white;
  fill: #ffffff;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  font-family: var(--font);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: calc(4px / 2);
  line-height: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.addCart:hover{
  text-decoration: underline;
}

.porc_desconto { /*PORCENTAGEM DE DESCONTO PRODUTO*/
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 18.2rem;
    left: 12px;
    background-color: red;
    border-radius: 50%;
    color: var(--cor2);
    font-size: 11px;
    font-weight: 500;
    font-family: var(--fontP);
    width: 49px;
  }


/*GP WHATSAPP*/

.b_footer { /* IMG WHATSAPP FIXO*/
   text-align: center;
}

.b_footer img{ /*IMAGEM BOTÃO WHATSAPP*/
    max-width: 100%;
    margin-top: 4rem;
}

/*SOBRE NOS*/

#sobre { 
    margin-top: 1rem;
    position: relative;
    background-color: var(--cor3);
    width: 102.5%;
    box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.082);
}

.section_sobre{
    padding: 5rem 16% 5rem 16%;
    color: var(--cor2);
    text-align: center;
}

.section_sobre_title{ /*TÍTULO SOBRE NÓS*/
    font: normal bold 2rem var(--fontP), sans-serif;
    margin: .8rem;
}

.section_sobre_text { /*TEXTO SOBRE NÓS*/
    margin-top: 1.5rem;
    font: normal 400 14px var(--fontP), sans-serif;
    line-height: 1.8;
    color: var(--cor2);
}

/*CONTATO*/

address { /*ENDEREÇO CONTATO*/
  font-style: italic;
  color: var(--cor2);
  display: inline-block;
  margin-top: .3rem;
}
  
  #contact .title{ /*TÍTULO CONTATO*/
    font: normal bold 1.2rem var(--fontP), sans-serif;
    text-align: center;
    padding-bottom: 4.5rem;
    margin-top: .3rem;
  }

  /*FOOTER*/

.footer-distributed{ /*CONTEÚDO FOOTER*/
	background-color: var(--cor3);
  color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 102.5%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{ /*SEÇÕES DO FOOTER*/
  width: 30%;
	display: inline-block;
	vertical-align: top;
}

/* FOOTER ESQUERDO */

.footer-distributed .footer-left{ /*SEÇÃO ESQUERDA DO FOOTER*/
	width: 40%;
}

/* FOOTER LINKS */

.footer-distributed .footer-links{ /*LINKS DO FOOTER*/
	color:  #ffffff;
	padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: .14px;
	margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-distributed .footer-icons{ /*ÍCONES REDES SOCIAIS FOOTER*/
  margin-left: -7px;
	margin-top: 25px;
}

.footer-distributed .footer-icons img{ /*IMAGENS ÍCONES REDES SOCIAIS FOOTER*/
	max-height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  padding-right: 3.9px;
  border-radius: 4px;
  margin-left: 0;
}

/* FOOTER CENTRO */

.footer-distributed .footer-center{ /*SEÇÃO CENTRO DO FOOTER*/
	width: 35%;
}

.footer-distributed .footer-center .footer-links{ /*LINKS DO FOOTER CENTRO*/
  margin-left: 1.1rem;
}

.footer-distributed .footer-center i{ /*ÍCONES DO FOOTER CENTRO*/
  background-color: var(--cor1);
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{ /*ÍCONE EMAIL FOOTER CENTRO*/
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{ /*TEXTO FOOTER CENTRO*/
  margin-left: .4rem;
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{ /*TEXTO FOOTER CENTRO*/
	display:block;
	font-weight: normal;
	font-size:13.5px;
  line-height:20px;
}

.footer-distributed .footer-center p a{ /*LINKS DO TEXTO FOOTER CENTRO*/
	color:  var(--cor2);
	text-decoration: none;
}

/* FOOTER DIREITA */

.footer-distributed .footer-right{ /*SEÇÃO DIREITA DO FOOTER*/
	width: 20%;
}

.footer-distributed .footer-right .footer-links{ /*TITULO DO FOOTER DIREITO*/
  color:  #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: .14px;
	margin-bottom: 20px;
  cursor: pointer;
}

.footer-distributed .footer-company-about p { /*TEXTO FOOTER DIREITO*/
  margin-left: .4rem;
  color: #ffffff;
  font-weight:normal;
  font-size: 16px;
  line-height: 20px;
}
  
  .ico { /*ÍCONES LINKS FOOTER*/
      width: 13px;
      height: 18px;
      margin-right: 5px;
      display: inline-block;
      align-items: center;
      justify-content: center;
  }

  /*PEÇA AGORA*/

.button_end { /*BOTÃO PEÇA AGORA*/
    font-weight: 600;
    font-size: 1rem;
    padding-top: 2rem;
    text-align: center;
}

/*CREDITOS*/

.footer-name{ /*CRÉDITOS FOOTER*/
    background-color: #ffffff93;
    width: 102.5%;
    color: var(--cor3);
    opacity: .8;
    padding: 1rem;
    text-align: center;
    opacity: .8;
    font-size: 14px;
    font-family: var(--fontP);
    font-weight: 500;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.082);
}


/*RESPONSIVO MENU CELULAR*/

@media only screen and (max-width: 767px){ /*TELAS ATÉ 767PX*/
   
    .logo h1 { /*AJUSTAR LOGO E NOME LOJA*/
      position: fixed;
      top: 32px;
      left: 50.1%;
      text-align: center;
      align-items: center;
      justify-content: center;
      z-index: 1002;
      width: 17rem;
      font-size: 2.1rem;
      transform: translate(-50%);
    }

    .logo p {
      position: fixed;
      top: 11px;
      left: 6.6rem;
      text-align: center;
      align-items: center;
      justify-content: center;
      z-index: 1002;
      font-size: 2.7rem;
      display: block;
    }

    .navbar{ /*AJUSTAR MENU NAVEGAÇÃO*/
        position: fixed;
        width: 65vw;
        background-color: #fff;
        top: 0;
        left: 0;
        height: 100%;
        display: block;
        transition: .5s;
        transform: translate(-100%,0);
        z-index: 1005;
        color: var(--cor_text);
    }

    .navbar a { /*LINKS MENU NAVEGAÇÃO*/
      color: var(--cor_text);
    }

    .navbar .openNav { /*TRES TRAÇOS MENU CELULAR*/
      display: block;
      position: absolute;
      left: 106%;
      top: 2.2rem;
      width: 40px;
      height: 40px;
      padding: 5px;
    }

    .navbar .openNav span{ /*TRAÇOS MENU CELULAR*/
      display: block;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: var(--cor2);
      width: 25px;
      height: 2px;
      margin: 4px 0;
      transition: .5s;
    }

    .navbar:has(input[name="openNav"]:checked){ /*MOSTRAR MENU NAVEGAÇÃO*/
      transform: translate(0, 0);
    }

    .navbar:has(input[name="openNav"]:checked) .openNav span:nth-child(2){ 
    /*ESCONDER TRAÇO DO MEIO*/
      opacity: 0;
      transition: 0s;
    }

    .navbar:has(input[name="openNav"]:checked) .openNav span:nth-child(1){ 
    /*TRANSFORMAR PRIMEIRO TRAÇO*/
      transform: rotate(50deg) translate(6px, 4px);
      position: absolute;
      left: -2.9rem;
      top: -15px;
      background-color: #000000;
      width: 17px;
    }

    .navbar:has(input[name="openNav"]:checked) .openNav span:nth-child(3){
    /*TRANSFORMAR TERCEIRO TRAÇO*/
      transform: rotate(-50deg) translate(6px, -5.5px); 
      position: absolute;
      left: -2.8rem;
      top: 0;
      background-color: #000000;
      width: 17px;
    }

    .navbar input{ /*ESCONDER INPUT AO ABRIR MENU*/
      display: none;
    }

    .navbar li{ /*ITENS MENU NAVEGAÇÃO*/
      display: block;
      position: unset;
      border-bottom: .5px solid var(--cor1);
      padding: 1rem 1rem;
      position: relative;
      top: 3rem;
      font-size: 15px;
      font-family: var(--font);
      font-weight: 700;
    }

    .navbar .otherOption,
    .navbar .menu{ /*AJUSTAR OPÇÕES E MENU*/
      width: 100%;
      text-align: left;
    }

    .navbar .otherOption { /*AJUSTAR OPÇÕES ENTRAR/INSCREVER-SE*/
    width: 100%;
    text-align: center;
    position: absolute;
    top: 86.3%;
    right: 10px;
    color: var(--cor_text);
    }

    .navbar .otherOption ion-icon{ /*MOSTRAR ÍCONES OPÇÕES*/
      display: inline-block;
      font-size: 15px;
      font-weight: 700;
    }

    .navbar .otherOption li{ /*ITENS OPÇÕES*/
      display: inline-block;
      border: none;
    }

    .navbar .menu li:hover{
      background-color: unset ;
      border-left: 10px solid var(--cor7);
    }

    .navbar .menu label{ /*POSIÇÃO SETA SUBMENU*/
      cursor: pointer;
      display: block;
      float: right;
    }

    .navbar .menu label i{ /*ÍCONE SETA SUBMENU*/
      display: block;
      transition: .5s;
      margin-right: 0;
    }

    .navbar label:has(input:checked) ~ ul{ /*ABRIR SUBMENU*/
      max-height: 50vh;
    }

    .navbar .menu li ul{ /*AJUSTAR SUBMENU*/
     width: 100%;
     max-height: 0;
     position: unset;
     background-color: unset;
     display: block;
     overflow: hidden;
     transform: 1.5s;
     opacity: .8;
     border-left: 1px solid #ffffff22;
    }

    .navbar li li:hover{
      border-left: unset !important;
    }

    .submenu li { /*ITENS SUBMENU*/
      border-bottom: 0;
      padding: 10px 10px 10px 30px;
      position: relative;
      top: 2px;
    }

    .navbar label input:checked ~i { /*ROTACIONAR ÍCONE SETA SUBMENU*/
      transform: rotate(180deg);
    }

    header{ /*AJUSTAR CABEÇALHO*/
      position: fixed;
      height: 6.5rem;
      z-index: 1007;
    }

    .search-box{ /*AJUSTAR CAIXA PESQUISA*/
      top: 9%;
      position: fixed;
      margin-top: 2.3rem;
      width: 100%;
      z-index: 998;
    }

    .li.active{ /*AJUSTAR LISTA PESQUISA ATIVA*/
    margin-top: 5.08rem;
    position: fixed;
    z-index: 990;
    height: 45%;
    }

    .slider{ /*POSIÇAO SLIDE*/
    margin-top: 8rem;
    }

    .manual-btn:hover{ /*MUDAR COR BOTÕES NAVEGAÇÃO MANUAL SLIDE*/
    opacity: .8;
    background-color: #00000000;
    }

    .icon-cart{ /*POSIÇÃO ÍCONE CARRINHO*/
    position: fixed;
    display: block;
    align-items: center;
    justify-content: center;
    }

	.footer-distributed{ /*AJUSTAR FOOTER*/
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{  /*SEÇÕES DO FOOTER*/
    display: block; 
		width: 100%;
		margin-bottom: 40px;
		text-align: left;
	}

	.footer-distributed .footer-center i{ /*ÍCONES DO FOOTER CENTRO*/
		margin-left: 0;
	}

}