*{
    font-family:"PT Sans", "Noto Sans Khudawadi" "Montserrat",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font: "Montserrat";
    --cor1: #777777;
    --cor2: #fff;
    --cor3: #000000;
    --cor4:#0000009f;
    --cor5:#A1A09A;
    --left: 800px;
    --bottom: 800px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-attachment: fixed;
}

/*CABEÇALHO*/

header nav{
    display: flex;
    background-color: var(--cor1);
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    top: 0;
    right: 0;
    z-index: 1002;
    position: fixed;
    transition: all .35s ease;
    padding: 30px 20px 30px 5px;  
    gap: 1rem;
}

/*TRES TRAÇOS E LISTA*/

.mobile-menu{
    min-width: 29px;
    z-index: 1100;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: 400ms ease;
    cursor: pointer;
}

.line-2 {
    margin: 5px 0;
    cursor: pointer;
}

.nav-list {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 99vw;
        height: 100vh;
        padding: 4rem 2rem 1rem 0;
        background-color: var(--cor1);
        box-shadow: .5px .5px 7px rgba(0, 0, 0, 0.808);
        border: 0 1.5px  solid rgba(0, 0, 0, 0.712);
        border-radius: 2px 2px;
        flex-direction: column;
        text-align: left;
        gap: 26px;
        transform: translate(-100%);
        transition: transform 0.3s ease-in;
        z-index: 1000;
        overflow: auto;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.nav-list a{
    color: var(--cor2);
    text-decoration: none;
    transition: .3s;
    margin-left: 3rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.nav-list a:hover{
    opacity: 0.7;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: .2px;
    opacity: 0;
    margin-left: 0;
}

nav{
    display: block;
}

.nav-list.active{
    transform: translate(0);
}

/*CARRINHO DE COMPRAS E ANIMAÇÃO*/
/*MOBILE-NAVBAR.JS (JAVA)*/

.shopping-cart::before{
  position: fixed;
  content: attr(data-product-count);
  top: 8px;
  right: 23px;
  color: var(--cor2);
  background-color: #4caf50;
  font-family: sans-serif;
  font-size: .7rem;
  width: 18.5px;
  height: 17px;
  border-radius: 80%;
  line-height: 17.5px;
}

.shopping-cart.active{
  width: 1px;
}

.flying-img {
  position: absolute;
  animation: fly_to_cart 2s ease-in-out;
  z-index: 1000;
}

@keyframes fly_to_cart{
  0% {
    left: 0;
    bottom: 0;
    transform: scale(.2);
  }
  45%, 50% {
    left: var(--left);
    bottom: 470px;
    transform: scale(.2);
  }
  80%, 90% {
    left: var(--left);
    bottom: var(--bottom);
    transform: scale(.1);
  }
  100% {
    left: calc(var(--left + 40px));
    bottom: var(--bottom);
    transform: scale(.1);
  }
}

ion-icon {
    width: 28px;
    height: 28px;
    color: var(--cor2);
    position: absolute;
    right: 5px;
    top: 13px;
    cursor: pointer;
}

/*PERFIL*/

.conta{
  position: absolute;
  right: 3rem;
  top: 4px;
  color: #000000;
}

.cart-icon{
  position: absolute;
  right: 1rem;
  top: 4px;
  color: #000000;
}

/*BARRA PESQUISA*/

.search-box{
    position: fixed;
    top: 8%;
    background: var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1001;
    transition: all .35s ease;
    padding: 15px 8px 10px 16px;  
    gap: 38px;
}

.fas-fa-search .search{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  max-width: 20px;
  max-height: 20px;
  background-color: var(--cor2);
  color: var(--cor3);
  padding: 5px;
  
}

.search-box> .search-txt {
    width: 100%;
}

.search-box{
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.808);
    border: 1.5px 0  solid rgba(0, 0, 0, 0.712);
    border-radius: 2px 2px;
}

.search{
    color: #000000;
    background-color: #fff;
}

.search-txt{
  position: relative;
  border: none;
  background: none;
  outline:none;
  float: none;
  color: #0000009f;
  font-size: 20px;
  transition: 0.3s;
  text-align: left;
}

/*SLIDE*/

.slider{
  margin: 0;
  margin-top: 6rem;
  min-width: 100%;
  height: 500px;
  overflow: hidden;
}

.slides{
  max-width: 100%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.manual-navigation {
  width: 100%;
  margin-top:-30px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 1px solid var(--cor3) ;
  padding: 4px;
  cursor: pointer;
  border-radius: 10px;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: var(--cor2);
}

#radio1:checked ~ .first {
  margin-left: -0%;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

#radio4:checked ~ .first {
  margin-left: -300%;
}

.navigation-auto div {
  border: 1px solid rgb(0, 0, 0);
  padding: 15px;
  border-radius: 1px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  width: 100%;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked {
  background-color: var(--cor3);
}

#radio2:checked ~ .auto-btn2 {
  background-color: var(--cor3);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: var(--cor3);
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: var(--cor3);
}

/*LISTA PESQUISA*/

.li.active{
    transform: translate(1.3%, 70px);
    z-index: 1000;
}

@keyframes itemLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.li a:hover{
    opacity: 0.9;
}

.li a{
    list-style: none;
    display: flex;
    background-color:#B0B0AE;
    padding: 5px 0 0 5px;
    border-radius: 12px;
    width: 100%;
    border: .5px solid transparent;
    height: 89px;
}


.li {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
  max-height: 500px;
  background-color: var(--cor2);
  border: .5px solid rgba(0, 0, 0, 0.733);
  border-radius: 0 0 10px 10px;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x:hidden ;
  transform: translate(0%, -100%);
  transition: 0.3s;
  padding: 0px 10px 10px 10px;
}

.li li {
  list-style: none;
  margin-top: 12px;
  width: 100%;
  height: 85px;
}

.li a{
  text-decoration: none;
  transition: .3s;
  font-weight: 100;
}

.img-produto-li img {
  width: 90px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.item-content {
  text-transform: capitalize;
}

.titulo-produto-li {
  margin-left: .5rem;
  margin-top: .30rem !important;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1429em;
  text-align: left;
  color: rgba(0, 0, 0, 0.829);
}

#no_results {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.5rem;
}
/*PRODUTOS*/

.container{
  font-family: Arial, sans-serif;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.container a{
  text-decoration: none;
}

.cartao-produto {
  background-color: white;
  border-radius: 2px;
  box-shadow: .1px .1px 9px rgba(0, 0, 0, 0.267);
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 170px;
  height: 350px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.img-produto {
  width: 100%;
  height: 59%;
  object-fit: cover;
  border-radius: 3px 3px 0 0; 
}


.info-produto {
  padding: 0 1px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.titulo-produto {
  opacity: .8;
  margin-left: .5rem;
  margin-bottom: 1rem !important;
  margin-top: .25rem !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1429em;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-align: left;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.829);
  z-index: 300;
}

.titulo-produto:hover{
  text-decoration: underline;
}

.preco {
  font-family: var(--font, sans-serif);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--cor3);
  margin: 1px 0 1px .6rem;
  text-align: left;
}

.pç-produto {
  font-family: var(--font, sans-serif);
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--cor3);
  margin: 1px 0 1px .6rem;
  text-align: left;
}

.add-to-cart {
  background-color: #4caf50;
  border: none;
  margin-top: 1rem !important;
  color: white;
  fill: #ffffff;
  padding: 8px 40px;
  text-align: center;
  text-decoration: none;
  font-family: var(--font);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: calc(4px / 2);
  line-height: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover{
  text-decoration: underline;
}

.porc_desconto {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    top: 64px;
    left: 23px;
    background-color: red;
    color: var(--cor2);
    font-size: 12px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
  }

@media (max-width: 769px) {
  .main .search-box {
    width: 100%;  
  }
}

/*GRUPO WP*/

.b_footer {
   text-align: center;
}

.b_footer img{
    max-width: 100%;
    margin-top: 4rem;
    text-align: center;
}

/*SOBRE NOS*/

#sobre {
    margin-top: 1rem;
    position: relative;
    background-image: linear-gradient(
    to bottom,
    var(--cor1) 0%,
    rgba(0, 0, 0, 0.8) 100%
    );
    width: 102.5%;
    box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.082);
}

.section_sobre{
    padding: 7rem 4rem 10rem 4rem;
    color: var(--cor2);
    text-align: center;
}

.section_sobre_title{
    font: normal bold 2.9rem "Noto Sans Khudawadi", sans-serif;
    margin: .8rem;
}

.section_sobre_text {
    font: normal 400 14px "Noto Sans Khudawadi", sans-serif;
}

/*CONTATO*/

address {
  font-style: italic;
  color: var(--cor2);
  display: inline-block;
}
  
  #contact .title{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4.5rem;
  }

  /*FOOTER*/

.footer-distributed{
	background-image: linear-gradient(
    to top,
    var(--cor1) 0%,
    rgba(0, 0, 0, 0.8) 100%
    );
    color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 102.5%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* FOOTER ESQUERDO */

.footer-distributed .footer-left{
	width: 40%;
}

/* FOOTER LINKS */

.footer-distributed .footer-links{
	color:  #ffffff;
	padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: .14px;
	margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons img{
	max-height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  padding-right: 3.9px;
  border-radius: 4px;
  margin-left: 0;
}

/* FOOTER CENTRO */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center .footer-links{
  margin-left: 1.1rem;
}

.footer-distributed .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  var(--cor2);
	text-decoration: none;;
}

/* FOOTER DIREITA */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-right .footer-links{
  color:  #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: .14px;
	margin-bottom: 20px;
  cursor: pointer;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0 ;
}

.footer-distributed .footer-company-about p {
  margin-left: .4rem;
}

@media (max-width: 769px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		width: 100%;
		margin-bottom: 40px;
		text-align: left;
	}

  .footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
    width: 90%;
  }

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
  
  .ico {
      width: 18px;
      height: 18px;
      margin-right: 5px;
      display: inline-block;
      align-items: center;
      justify-content: center;
  }

  /*PEÇA AGORA*/

.button_end {
    text-align: center;
}

.button_end {
    font-weight: 600;
    font-size: 1rem;
    padding-top: 2rem;
}

/*CREDITOS*/

.footer-name{
    background-color: var(--cor3);
    width: 102.5%;
    color: var(--cor1);
    padding: 1rem;
    text-align: center;
}

