*{
    font-family:"PT Sans", "Noto Sans Khudawadi",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #777777;
    --cor2: #fff;
    --cor3: #000000da;
    --cor4:#EAEAEA;
    --cor5:#A1A09A;
}


html {
  scroll-behavior: smooth;
}

body{
    background-color: var(--cor2);
    min-width: 386px;
}

header nav{
    display: flex;
    background-color: var(--cor1);
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    transition: all .35s ease;
    padding: 8px 0 20px 8% ;  
}

.mobile-menu{
    min-width: 20px;
    height: 20px;
    background-color: var(--cor2);
    border-radius: 15px;
    cursor: pointer;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #333;
    border-radius: 10px;
    transition: 400ms ease;
}

.line-2 {
    margin: 2px 0;
}

#checkbox:checked ~.line-2 {
    opacity: 0;
}

#checkbox:checked ~.line-1 {
    rotate: 45deg;
    translate: 0 3px;
}

#checkbox:checked ~.line-3 {
    rotate: -45deg;
    translate: 0 -3px;
}

ion-icon {
    min-width: 35px;
    height: 35px;
    color: var(--cor2);
    cursor: pointer;
}



body{
    overflow-x: hidden; 
}

.nav-list {
        position: absolute;
        top: 12.11vh;
        left: 0;
        width: 90vw;
        height: 92vh;
        background-color: var(--cor1);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(-100%);
        transition: transform 0.3s ease-in;
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.nav-list a{
    color: var(--cor2);
    text-decoration: none;
    transition: .3s;
}

.nav-list a:hover{
    opacity: 0.7;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    opacity: 0;
    margin-left: 0;
}

nav{
    display: block;
}

.nav-list.active{
    transform: translate(0);
}

#back {
    position: relative;
    top: .8rem;
    font-size: large;
    background-color: black;
    padding: .4rem;
    text-decoration: none;
    color: var(--cor4);
}

.main {
    text-align: center;
    padding: 2rem 1rem;
}

.main{
   margin: 2rem 1.5rem;
   border: solid 1px black;
   max-width: 290px;
   height: 290px;
   background-image: url(imagens/choker.fio.alemao.3mm.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

h1{
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1.5rem;
}

li>a{
    color: var(--cor3);
}

.section_li{
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.37);
}

h3{
    text-decoration: underline;
}

.section_li{
    display: inline-block;
    padding: 0;
    height: 223px;
    width: 160px;
    margin:3rem 0 0 1.6rem;
    background-image: linear-gradient(
    to bottom,
    var(--cor3) 0%,
    #C9CAC4 100%
    );
    border-radius:.5rem .5rem;
}
.section_li+.section_li{
    margin-left: 1.6rem;
    padding: 0;
}
li img{
    height: 180px;
    width: 160px;
    border-radius: .5rem .5rem 0 0;
}