*{
    font-family:"PT Sans", "Noto Sans Khudawadi",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor1: #777777;
    --cor2: #fff;
    --cor3: #000000;
    --cor4:#0000009f;
    --cor5:#A1A09A;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  min-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-attachment: fixed;
}

header nav{
    display: flex;
    background-color: var(--cor1);
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    transition: all .35s ease;
    padding: 30px 20px 30px 5px;  
    gap: 1rem;
}

.mobile-menu{
    min-width: 29px;
    z-index: 1100;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: 400ms ease;
    cursor: pointer;
}

.line-2 {
    margin: 5px 0;
    cursor: pointer;
}

.shopping-cart::before{
  position: absolute;
  content: attr(data-product-count);
  top: 9px;
  right: 10px;
  color: var(--cor2);
  background-color: #4caf50;
  font-family: sans-serif;
  font-size: .7rem;
  width: 3px;
  height: 3px;
  padding: .5rem .5rem .5rem .3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4px;
}

/*for Js Code8*/
.flying-img{
  position: absolute;
  animation: fly_to_cart 1s ease-in-out;
  z-index: 1000;
}

@keyframes fly_to_cart{
  0% {
    right: 0;
    top: 0;
  }
  45%, 50% {
    right: -800px;
    top: -90px;
  }
  80%, 90% {
    right: -800px;
    top: -850px;
    transform: scale(.2);
  }
  100% {
    right: -800px;
    top: -850px;
    transform: scale(.2);
  }
}

ion-icon {
    width: 28px;
    height: 28px;
    color: var(--cor2);
    position: absolute;
    right: 5px;
    top: 13px;
    cursor: pointer;
}

.conta{
  position: absolute;
  right: 3rem;
  top: 4px;
  color: #000000;
}

.cart-icon{
  position: absolute;
  right: 1rem;
  top: 4px;
  color: #000000;
}

.nav-list {
        position: fixed;
        top: 0;
        left: 0;
        max-width: 99vw;
        max-height: 105vh;
        padding: 3rem 2rem 5rem 0;
        background-color: var(--cor1);
        box-shadow: .5px .5px 7px rgba(0, 0, 0, 0.808);
        border: 0 1.5px  solid rgba(0, 0, 0, 0.712);
        border-radius: 2px 2px;
        flex-direction: column;
        text-align: left;
        gap: 21px;
        transform: translate(-100%);
        transition: transform 0.3s ease-in;
        z-index: 1000;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.nav-list a{
    color: var(--cor2);
    text-decoration: none;
    transition: .3s;
    margin-left: 2rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.nav-list a:hover{
    opacity: 0.7;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: .2px;
    opacity: 0;
    margin-left: 0;
}

nav{
    display: block;
}

.nav-list.active{
    transform: translate(0);
}

.search-box{
    position: fixed;
    top: 8%;
    background: var(--cor2);
    display: flex;
    width: 100%;
    z-index: 900;
    transition: all .35s ease;
    padding: 0px 0 7px 0;  
}

.search-button{
  color: var(--cor3);
  width: 50px;
  background: var(--cor2);
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.search-box> .search-txt {
    min-width: 90vw;
    padding: 1rem 10px 0 8px; 
}

.search-box{
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.808);
    border: 1.5px 0  solid rgba(0, 0, 0, 0.712);
    border-radius: 2px 2px;
}

.search-box:hover > .search-button {
    background: var(--cor2);
}

.search{
    color: #000000;
    background-color: #fff;
    height: 1.4rem;
}

.search-txt{
  position: relative;
  border: none;
  background: none;
  outline:none;
  float: none;
  color: #0000009f;
  font-size: 20px;
  transition: 0.3s;
  text-align: left;
}

.main{
  margin-top: 22rem;
}

 .container{
  font-family: Arial, sans-serif;
  display: inline-block;
  justify-content: center;
  align-items: center;
  
}

.cartao-produto {
  margin: .5rem 0rem 0rem 0rem;
  background-color: white;
  border-radius: 2px;
  box-shadow: .1px .1px 9px rgba(0, 0, 0, 0.267);
  display: inline-block;
  width: 170px;
  height: 350px;
  margin-left: 1rem;
  margin-top: 3rem;
}

.img-produto {
  width: 100%;
  height: 55%;
  object-fit: cover;
  border-radius: 3px 3px 0 0; 
}

.info-produto {
  padding: 0 1px;
}

.titulo-produto {
  font-weight: bold;
  font-size: 1rem;
  margin: 9px 0 ;
  color: #050b16;
}

.preco {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--cor4);
  margin: 18px 0 20px .6rem;
}

.add-to-cart {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 19px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: .5rem;
}

.add-to-cart:hover {
  background-color: #45a049;
}



#sobre {
    margin-top: 4rem;
    position: relative;
    background-image: linear-gradient(
    to bottom,
    var(--cor1) 0%,
    rgba(0, 0, 0, 0.8) 100%
    );
    width: 102.5%;
    box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.082);
}

.section_sobre{
    padding: 7rem 4rem 10rem 4rem;
    color: var(--cor2);
    text-align: center;
}

.section_sobre_title{
    font: normal bold 2.9rem "Noto Sans Khudawadi", sans-serif;
    margin: .8rem;
}

.section_sobre_text {
    font: normal 400 14px "Noto Sans Khudawadi", sans-serif;
}

address {
  font-style: italic;
  color: var(--cor2);
  display: inline-block;
  
}
  
  #contact .title{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 4.5rem;
  }


.footer-distributed{
	background-image: linear-gradient(
    to top,
    var(--cor1) 0%,
    rgba(0, 0, 0, 0.8) 100%
    );
    color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 102.5%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: .14px;
	margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons img{
	max-height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  padding-right: 3.9px;
  border-radius: 4px;
  margin-left: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center .footer-links{
  margin-left: 1.1rem;
}

.footer-distributed .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  var(--cor2);
	text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-right .footer-links{
  color:  #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: .14px;
	margin-bottom: 20px;
  cursor: pointer;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0 ;
}

.footer-distributed .footer-company-about p {
  margin-left: .4rem;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 769px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		width: 100%;
		margin-bottom: 40px;
		text-align: left;
	}

  .footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
    width: 90%;
  }

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
  
  .ico {
      width: 18px;
      height: 18px;
      margin-right: 5px;
      display: inline-block;
      align-items: center;
      justify-content: center;
  }

.button_end {
    text-align: center;
}

.button_end {
    font-weight: 600;
    font-size: 1rem;
    padding-top: 2rem;
}

.footer-name{
    background-color: var(--cor3);
    width: 102.5%;
    color: var(--cor1);
    padding: 1rem;
    text-align: center;
}

