*{
    font-family:"PT Sans", "Noto Sans Khudawadi",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #777777;
    --cor2: #fff;
    --cor3: #000000da;
    --cor4:#EAEAEA;
    --cor5:#A1A09A;
}


html {
  scroll-behavior: smooth;
}

body{
    background-color: var(--cor1);
    min-width: 386px;
}


.cabecalho {
    padding: 1.3rem 0;
    background-color: var(--cor3);
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

nav>a:hover{
    padding: 1px;
}

.cabecalho a {
    color: var(--cor4);
}

.cabecalho a+a {
    margin-left: 1.5rem;
}

#back {
    position: relative;
    top: .8rem;
    font-size: large;
    background-color: black;
    padding: .4rem;
    text-decoration: none;
    color: var(--cor4);
}

.main {
    text-align: center;
    padding: 2rem 1rem;
}

.main{
   margin: 2rem 1.5rem;
   border: solid 1px black;
   max-width: 290px;
   height: 290px;
   background-image: url(imagens/choker.fio.alemao.3mm.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}

h1{
    font-size: 2rem;
    font-weight: 400;
    padding-left: 1.5rem;
}

li>a{
    color: var(--cor3);
}

.section_li{
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.37);
}

h3{
    text-decoration: underline;
}

.section_li{
    display: inline-block;
    padding: 0;
    height: 223px;
    width: 160px;
    margin:3rem 0 0 1.6rem;
    background-image: linear-gradient(
    to bottom,
    var(--cor3) 0%,
    #C9CAC4 100%
    );
    border-radius:.5rem .5rem;
}
.section_li+.section_li{
    margin-left: 1.6rem;
    padding: 0;
}
li img{
    height: 180px;
    width: 160px;
    border-radius: .5rem .5rem 0 0;
}
.text{
    border-radius: .5rem .5rem;
    text-align: left;
    font-size: 70%;
    padding: .1rem 0 0rem .3rem;
    color: var(#5a5959);
}