*{
    font-family:"PT Sans", "Noto Sans Khudawadi",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #777777;
    --cor2: #fff;
    --cor3: #000000;
    --cor4:#0000009f;
    --cor5:#A1A09A;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;

  /* Main winter-night gradient */
  background:
    radial-gradient(
      circle at 50% 120%,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0) 60%
    ),
    radial-gradient(
      circle at 80% 0%,
      rgba(199, 207, 214, 0.25) 0%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      circle at 20% -10%,
      rgba(255, 200, 255, 0.25) 0%,
      rgba(0, 0, 0, 0) 45%
    ),
    linear-gradient(
      to bottom,
      #000000 0%,
      #0c0c0cf6 30%,
      #08101f 60%,
      #050b16 100%
    );

  background-attachment: fixed;
  color: white;
}

header nav{
    display: flex;
    background-color: var(--cor1);
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    transition: all .35s ease;
    padding: 8px 0 20px 8% ;  
}

.mobile-menu{
    min-width: 20px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: 400ms ease;
    cursor: pointer;
}

.line-2 {
    margin: 5px 0;
    cursor: pointer;
}

#checkbox:checked ~.line-2 {
    opacity: 0;
}

#checkbox:checked ~.line-1 {
    rotate: 45deg;
    translate: 0 3px;
}

#checkbox:checked ~.line-3 {
    rotate: -45deg;
    translate: 0 -3px;
}

ion-icon {
    width: 35px;
    height: 35px;
    color: var(--cor2);
    margin-top: 2px;
}


@media (max-width: 769px) {
    .header .logo {
        position: static;
        transform: none;
        width: calc(50% - 20px);
    }
}

.nav-list {
        position: absolute;
        top: 18.2vh;
        left: 0;
        width: 67.5vw;
        height: 81.5vh;
        padding: .5rem 0;
        background-color: var(--cor2);
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.808);
        border: 0 1.5px  solid rgba(0, 0, 0, 0.712);
        border-radius: 2px 2px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(-100%);
        transition: transform 0.3s ease-in;
}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0);
    }
}

.nav-list a{
    color: var(--cor3);
    text-decoration: none;
    transition: .3s;
    
}

.nav-list a:hover{
    opacity: 0.7;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    opacity: 0;
    margin-left: 0;
}

nav{
    display: block;
}

.nav-list.active{
    transform: translate(0);
}

.search-box{
    position: fixed;
    top: 12%;
    left: 100%;
    transform: translate(-100%, 0%);
    background: var(--cor2);
    display: flex;
    width: 100%;
    z-index: 1000;
    transition: all .35s ease;
    padding: 6px 0 7px 0;  
}

.search-button{
  color: var(--cor3);
  float: right;
  width: 50px;
  background: var(--cor2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.search-box> .search-txt {
    min-width: 90vw;
    padding: 0 33px 0 5px; 
}

.search-box{
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.808);
    border: 1.5px 0  solid rgba(0, 0, 0, 0.712);
    border-radius: 2px 2px;
}

.search-box:hover > .search-button {
    background: var(--cor2);
}

.fas-fa-search {
    position: fixed;
    top: 10%;
    background-color: #fff;
    padding-right: 40px;
}

.search{
    color: #000000;
    background-color: #fff;
    height: 1.4rem;
}

.search-txt{
  position: relative;
  border: none;
  background: none;
  outline:none;
  float: none;
  color: #0000009f;
  font-size: 20px;
  transition: 0.3s;
  text-align: left;
}

.container {
  font-family: Arial, sans-serif;
  display: inline-block;
  justify-content: center;
  align-items: center;
  min-width: 380px;
  margin: 22rem 0rem 2rem 1rem;
}

.cartao-produto {
  background-color: white;
  border-radius: 16px;
  border: 2.5px solid black;
  transition: transform 0.3s ease;
  transition-duration: 0.8s;
  display: inline-block;
  width: 160px;
  height: 325px;
  margin-left: .8rem;
  margin-top: 1rem;
}

.cartao-produto:hover {
  transform: translateY(-5px);
}

.img-produto {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.info-produto {
  padding: 0 10px;
}

.titulo-produto {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #050b16;
}

.preco {
  font-size: 16px;
  color: var(--cor4);
  margin: 1px 0 5px 0;
}

.add-carrinho {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #45a049;
}

#cart-count {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}



#sobre {
    margin-top: 4rem;
    position: relative;
    background-image: linear-gradient(
    to bottom,
    var(--cor1) 0%,
    rgba(0, 0, 0, 0.8) 100%
    );
    box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.082);
}

.section_sobre{
    padding: 7rem 4rem 10rem 4rem;
    color: var(--cor2);
    text-align: center;
}

.section_sobre_title{
    font: normal bold 2.9rem "Noto Sans Khudawadi", sans-serif;
    margin: .8rem;
}

.section_sobre_text {
    font: normal 400 14px "Noto Sans Khudawadi", sans-serif;
}

address {
  margin: 1.6rem;
  font-style: italic;
}

address > * {
  display: inline-block;
  margin: 1.5rem;
  margin-left: 7%;
  text-align: left;
}

#atendimento #b {
    color: #fff;
    text-decoration: underline;
}

#atendimento> h2{
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 33px;
}

.ico {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

#contact {
     background-image: linear-gradient(
    to top,
    var(--cor1) 0%,
    rgba(0, 0, 0, 0.8) 100%
    );
    color: #fff;
}

#contact .title{
    text-align: center;
    padding-top: 4.5rem;
}

.button_end {
    text-align: center;
}

.button_end {
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 2rem;
}

footer{
    background-color: var(--cor3);
    color: var(--cor1);
    padding: 1rem;
    text-align: center;
}

.snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000; /* Bring above content */
  pointer-events: none; /* Don’t block clicks */

  background: none;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake1.png"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake2.png"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/191814/flake3.png");
  background-repeat: repeat;
  background-size: 600px 600px;

  /* Single standard animation, no vendor prefixes needed now */
  animation: snow 10s linear infinite;
}

/* =========================================
   KEYFRAMES – shared by both layers
   - Moves multiple background layers
     at different speeds/directions
========================================= */
@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
