*{
    font-family:"PT Sans", "Noto Sans Khudawadi",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #777777;
    --cor2: #fff;
    --cor3: #000000da;
    --cor4:#EAEAEA;
    --cor5:#A1A09A;
}

html {
  scroll-behavior: smooth;
}

body{
    background-color: var(--cor1);
}

a {
    text-decoration: none;
    color: var(--cor3);
}

.cabecalho {
    padding: 1.5rem 0;
    background-color: var(--cor3);
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

.cabecalho a {
     color: var(--cor4);
}

.cabecalho a+a {
    margin-left: 2rem;
}

#home{
    background-image:url("imagens/imagem.elett.jpg");
    background-position: center;
    background-size: cover;
    min-height: 600px;
}

#home div{
    text-align: center;
    padding: 44% 0% 0% 20%;
    color: var(--cor2);
}

.section h1{
    font: normal 200 4rem "PT Sans", sans-serif;
    margin-bottom:.8rem;
}

.section p{
    font: normal 200 1.5rem "PT Sans", sans-serif;
    margin-bottom: 2.5rem;
}

.section a{
    background-color: var(--cor1);
    padding: .7rem 1.9rem;
    border-radius: .4rem;
    font-weight: 600;
    font-size: 1.3rem;
}

#destaques {
    margin-top: 1rem;
}

.section_title_cardapio{
    text-align: center;
    color: white;
    font: normal 400 2rem 'Segoe UI', serif;
}

.section_li{
    display: inline-block;
    max-width: 310px;
    margin:3rem 4rem 0;
    background-image: linear-gradient(
    to bottom,
    var(--cor3) 0%,
    #C9CAC4 100%
    );
    border-radius:.5rem .5rem;
}

li img{
    height: 28.5rem;
    max-width: 310px;
    border-radius: .5rem .5rem 0 0;
}
.text{
    padding: 0.5rem;
    color: var(#5a5959);
}


#sobre {
    margin-top: 6rem;
    position: relative;
    background-image: linear-gradient(
    to bottom,
    var(--cor1) 0%,
    rgba(0, 0, 0, 0.8) 100%
    ),
    url("img/9juv4s551xfskgjmbz6jsau2hbk2.jpg");
    background-size: cover;
    background-position: center;
}

.section_sobre{
    padding: 4rem;
    color: var(--cor2);
    text-align: center;
}

.section_sobre_title{
    font: normal bold 2.9rem "Noto Sans Khudawadi", sans-serif;
    margin: .8rem;
}

.section_sobre_text {
    font: normal 400 14px "Noto Sans Khudawadi", sans-serif;
}

address {
  margin: 2rem 0;
  font-style: italic;
}

address > * {
  display: inline-block;
  margin: 1.5rem;
  margin-left: 7%;
  text-align: left;
}

#contact .title{
    text-align: center;
    margin-top: 2rem;
}

.button_end {
    text-align: center;
}

.button_end a{
    background-color: var(--cor1);
    padding: 1rem 1.9rem;
    border-radius: .4rem;
    font-weight: 600;
    font-size: 1rem;
}

footer{
    background-color: var(--cor3);
    color: var(--cor1);
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
}